  body {
            background-color: #e9f7ec;
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #2e7d32;
            color: white;
            padding: 40px 0;
            text-align: center;
        }
        .content-section {
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin-top: -30px;
        }
        
        h2{
            color: #66bb6a;
        }
        
        .contacto {
            background-color: #c8e6c9;
            padding: 20px;
            border-radius: 10px;
        }
    
        .Titulo{
            margin-top: 80px;
            text-align: center;
            
        }

/*BARRA NAV*/
.navbar-custom {
    background-color: #66bb6a;
}

.navbar-custom .nav-link {
    color: black;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.navbar-custom .nav-link.current {
    font-weight: bold;
}

.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.profile-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}